DB_HOST = '127.0.0.1'
DB_PORT = 5432
DB_USERNAME = 'postgresuser'
DB_PASSWORD = 'postgrespassword'
DB_DATABASE = 'awesome-db-name-test'
DB_SSL_CA_PATH = ''
JWT_SECRET = '_Awes0meS3cr3t_'
ACTIVATE_LOG_QUERIES = 'false'
